    <!--TODO id and for attributes will need to be changed-->
    <div class="col-sm-1 border">
      <h4 class="p-3">Filter</h4>
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle m-1" data-toggle="dropdown">
          Services
        </button>
        <div class="dropdown-menu p-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Child Care" onclick="filter('Child Care','services')">
            <label class="form-check-label" for="Child Care">
              Child Care
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Seniors" onclick="filter('Seniors','services')">
            <label class="form-check-label" for="Seniors">
              Seniors
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Mental Health" onclick="filter('Mental Health','services')">
            <label class="form-check-label" for="Mental Health">
              Mental Health
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Driving" onclick="filter('Driving','services')">
            <label class="form-check-label" for="Driving">
              Driving
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Computer" onclick="filter('Computer','services')">
            <label class="form-check-label" for="Computer">
              Computer
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Shopping" onclick="filter('Shopping','services')">
            <label class="form-check-label" for="Shopping">
              Shopping
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Cleaning" onclick="filter('Cleaning','services')">
            <label class="form-check-label" for="Cleaning">
              Cleaning
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Cooking" onclick="filter('Cooking','services')">
            <label class="form-check-label" for="Cooking">
              Cooking
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Tutorials" onclick="filter('Tutoring','services')">
            <label class="form-check-label" for="Tutoring">
              Tutoring
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Spiritual" onclick="filter('Spiritual','services')">
            <label class="form-check-label" for="Spiritual">
              Spirtual
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Maternal" onclick="filter('Maternal','services')">
            <label class="form-check-label" for="Maternal">
              Maternal
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Disability" onclick="filter('Disability','services')">
            <label class="form-check-label" for="Disability">
              Disability
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Overnight" onclick="filter('Overnight','services')">
            <label class="form-check-label" for="Overnight">
              Overnight
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Language" onclick="filter('Language','services')">
            <label class="form-check-label" for="Language">
              Language
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Home Maintenence" onclick="filter('Home Maintenence','services')">
            <label class="form-check-label" for="Home Maintenence">
              Home Maintenence
            </label>
          </div>
        </div>      <!--End of Services dropdown-menu-->
      </div>     <!-- End of Services btn-group -->
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle m-1" data-toggle="dropdown">
          Ratings
        </button>
        <div class="dropdown-menu p-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="1.0-3.0" onclick="filterRating('1.0-3.0','rating')">
            <label class="form-check-label" for="1.0-3.0">
              1.0 - 3.0
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="3.1-5.0" onclick="filterRating('3.1-5.0','rating')">
            <label class="form-check-label" for="3.1-5.0">
              3.1 - 5.0
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="5.1-7.0" onclick="filterRating('5.1-7.0','rating')">
            <label class="form-check-label" for="5.1-7.0">
              5.1 - 7.0
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="7.1-10.0" onclick="filterRating('7.1-10.0','rating')">
            <label class="form-check-label" for="Rating7-1Check">
              7.1 - 10.0
            </label>
          </div>
        </div>
      </div> <!-- End of Rating btn-group-->
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle m-1" data-toggle="dropdown">
          Availability
        </button>
        <div class="dropdown-menu p-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Monday" onclick="filter('Monday','avail')">
            <label class="form-check-label" for="Monday">
              Mon
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Tuesday" onclick="filter('Tuesday','avail')">
            <label class="form-check-label" for="Tuesday">
              Tues
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Wednesday" onclick="filter('Wednesday','avail')">
            <label class="form-check-label" for="Wednesday">
              Wed
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Thursday" onclick="filter('Thursday','avail')">
            <label class="form-check-label" for="Thursday">
              Thur
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Friday" onclick="filter('Friday','avail')">
            <label class="form-check-label" for="Friday">
              Fri
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Saturday" onclick="filter('Saturday','avail')">
            <label class="form-check-label" for="Saturday">
              Sat
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Sunday" onclick="filter('Sunday','avail')">
            <label class="form-check-label" for="Sun">
              Sun
            </label>
          </div>
        </div>
      </div><!-- End of Availability btn-group-->
    </div> <!--End of filter menus column-->
    <script>

      function filter(checkboxElem,col){
        const length = <%= dataset.length %>;
        const checkbox = document.getElementById('checkboxElem');

        if(document.getElementById(checkboxElem).checked){
          for(let i =0; i < length; i++) {
              var row = document.getElementById('row'+i);
              //TODO change genre
              if(col == 'services'){
                var item = document.getElementById('Services'+i);
              }else if(col == 'avail'){
                var item = document.getElementById('Availability'+i);
              }
            if(!item.textContent.includes(checkboxElem)){
              document.getElementById('row'+i).style.display = 'none';
            }
          }
        }else{
          for (let i = 0; i < length; i++) {
            document.getElementById('row'+i).style.display = 'table-row';
          }
        }
      }

      function filterRating(checkboxElem,col){
        const length = <%= dataset.length %>;
        const checkbox = document.getElementById('checkboxElem');
        var ratingCheck = checkboxElem.split("-");
        var min = parseFloat(ratingCheck[0]);
        var max = parseFloat(ratingCheck[1]);
        if(document.getElementById(checkboxElem).checked){
          for(let i =0; i < length; i++) {
            var row = document.getElementById('row'+i);
            
            if(col == 'meta'){
              var item = document.getElementById('Metascore'+i);
            }else if(col == 'rating'){
              var item = document.getElementById('Rating'+i);
            }
            //rating of current item
            var itemRating = parseFloat(item.textContent);
            //dont display items without rating
            if(Number.isNaN(itemRating)){
              document.getElementById('row'+i).style.display = 'none';
            }
            else if(!(itemRating >= min && itemRating <= max)){
              document.getElementById('row'+i).style.display = 'none';
            }
         }
        }else{
          for (let i = 0; i < length; i++) {
            document.getElementById('row'+i).style.display = 'table-row';
          }
        }
      }

      function filterSearch(){
        var filter;
        const length = <%= dataset.length %>;
        const searchItem = document.getElementById('searchbar');
        filter = searchItem.value;
        for(let i=0; i < length; i++){
          var row = document.getElementById('row'+i);
          var item = document.getElementById('Name'+i);
          if(!item.textContent.includes(filter)){
            document.getElementById('row'+i).style.display = 'none';
          }
          else{
            document.getElementById('row'+i).style.display = 'table-row';
          }
        }  
      }


    </script>